<!-- Core JS Files -->
<script src="{{ "/assets/js/jquery-3.2.1.js" | relative_url }}" type="text/javascript"></script>
<script src="{{ "/assets/js/jquery-ui-1.12.1.custom.min.js" | relative_url }}" type="text/javascript"></script>
<script src="{{ "/assets/js/popper.js" | relative_url }}" type="text/javascript"></script>
<script src="{{ "/assets/js/bootstrap.min.js" | relative_url }}" type="text/javascript"></script>

<!-- Switches -->
<script src="{{ "/assets/js/bootstrap-switch.min.js" | relative_url }}"></script>

<!--  Plugins for Slider -->
<script src="{{ "/assets/js/nouislider.js" | relative_url }}"></script>

<!--  Plugins for DateTimePicker -->
<script src="{{ "/assets/js/moment.min.js" | relative_url }}"></script>
<script src="{{ "/assets/js/bootstrap-datetimepicker.min.js" | relative_url }}"></script>

<!--  Paper Kit Initialization snd functons -->
<script src="{{ "/assets/js/paper-kit.js?v=2.1.0" | relative_url }}"></script>